**/__pycache__
**/__pycache__/*
**/log
**/logs
**/.idea/
**/target
**/*.iml
**/*.log
**/*.log.*
**/.classpath
**/.factorypath
**/.settings/
**/.project
**/.DS_Store
**/.logs_queue/
**/schedules/
**/spark-warehouse/
**/history/
**/.telemetry/
**/storage/
/tmp*/
**/build
**/dist
**/*.egg-info/
**/.antlr/
xdp_cloud_commons
*.jar
*.html
**/.env